body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.waitDiv {
  display: inline;
}

.hiddenDiv {
  display: none;
}

.checkingDiv {
  display: inline;
}

.playDiv {
  display: inline;
}
